.upper_header{
    margin-top: -10px;
    margin-left: -10px;
    height: 5%;
    width: 100%;
    background-color: 	#DCDCDC;
    position: relative;
    
}

.main_header{
    overflow: hidden;
    margin-top: -20px;
    margin-bottom:-7px;
    height: 12%;
    width: 100%;
    padding: 10px;
    z-index: 50;
}

.button {
    background-color: #e7e7e7;
    color: black; 
    border-radius: 12px;
    border: none;
    padding: 8px 20px;
    text-align: center;
    font-size: 0.8em;
    margin: -40px 10px ;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.button_1{
    background-color: #3B5998;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    padding: 8px 20px;
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.zero-margin {
    margin: 0px;
}
.zero {
    padding: 0px !important;
}
.bold {
    font-weight: bold;
}

.font_22 {
    font-size: 22px;
}
.dark_blue {
    color: #0b719f;
}
.font_13 {
    font-size: 13px;
}
.button a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
/*  position: absolute;*/
  width: 100%;
  height: 100%;
    position: relative;
    margin-bottom: 0px;
  background-image: url("../images/science-1182713__340.jpg");
  background-repeat: no-repeat;
    z-index:-1;
}
.news_box{
    margin-left: 930px;
    width:100%;
    height: 100px;
    margin-top: -100px;
}
#news_header{
    font-family: 'Rubik', sans-serif;
}
.modal_box{
    background-color: lightgrey;
    width: 100px;
    border: none;
    padding: 25px;
    margin: 25px;
}
.modal_box_1{
    height:0px;
    padding-left: 50px;
    width: 50%;
}

.holder { 
  background-color:#e5e5e5;
  width:100%;
  height:400px;
  overflow:hidden;
  padding:20px;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:100%;
  height:400px;
  overflow: hidden;
font-family: 'Lato', sans-serif;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:darkred;
  text-decoration:none;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.tumbbox {
    width: 888px;
    height: 136px;
    position: absolute;
    z-index: 1;
    bottom: 8px;
    padding: 0 66px 0 43px;
    left: 0px;
}

.reporterthumbdv {
    position: relative;
    float: left;
    width: 111px;
    height: 136px;
}
.alaothumbdv {
    position: relative;
    float: left;
    width: 111px;
    height: 136px;
}
.alaothumbdv a.alaothumb {
    position: relative;
    float: left;
    width: 111px;
    height: 136px;
    display: block;
    background: url(../images/home_thumbs/award-by-location_thumb.gif) no-repeat;
}
.top-left {
    float: left;
    padding-left: 170px;
    padding-top: 10px;
    line-height: 22px;
}
/*--Footer--*/
.footer1{
 margin-top: 20%;
    background:#25292E; 
    padding-top:20px;
    font-family:Century Gothic;
}
.footer2{background:#222; padding-top:20px; padding-bottom:30px; }
.footer1a>ul>li>a{text-decoration:none; color:#C3C0C;}
.footer1a>ul>li>a:hover{color:#fff;}

/*model boxes*/
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
* {
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	/* Prevent Padding Extending Width FIX */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	   	 -o-box-sizing: border-box; /* Opera */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
body {
	font: 100% "Raleway", sans-serif;
	font-weight: 400;
	background-color: #5b6770;
}
h1 {
	text-align: center;
	font: 250% "Raleway", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 3px;
	color: white;
	margin-bottom: 0;
	margin-top: 3%;
}
a.button {
	color: #b6872d;
	border: 1px solid #b6872d;
	padding: 5px 10px;
	opacity: 1;
	z-index: 1009;
	font-size: 60%;
	top: 76%;
	position: absolute;
	right: auto;
	margin-right: auto;
	margin-left: auto;
	transition: background-color 0.5s, color 0.75s;
	left: 45%;
}
a.button:hover {
	background-color: #b6872d;
	color: #fff;
}
.grid {
	padding: 3em 0 -100 0;
    margin-top: -270px;
	width: 40%;
/*	max-width: 1200px;*/
	list-style: none;
	text-align: center;
}
.grid .one-half {
	width: 100px;
    height: 100px;
	float: left;
    margin-top: 0px;
}
.grid .one-forth {
	width: 25%;
}
.grid .three-forth {
	width: 75%;
}
/* Common style */
.grid figure {
	position: relative;
	z-index: 2;
	display: inline-flex;
	overflow:hidden;
	margin: -0.135em 0;
	width: 50%;
	height: 200px;
	text-align: center;
	cursor: pointer;
}
.grid .double-height {
	height: 400px;
}
.grid figure img {
	position: static;
	display:inline-block;
	min-width: 50%;
	min-height: 50%;
	opacity: 1;
	transition: opacity 0.5s, -transform 1s;
}
.grid figure img:hover {
	opacity: 0.3;
}
.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #3c4a50;
	background: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	backface-visibility: hidden;
	transition: transform 0.35s;
}
.grid figure figcaption::after {
	content: '';
	border-style: solid;
	border-width: 20px;
	position: absolute;
	display: block;
	width: 0;
	height: 0;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption > span::before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a.anchor {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.grid figure h2 {
	display: block;
	z-index: 1002;
	word-spacing: -0.15em;	
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	float: none;
	width: 100%;
	top: 20%;
}
.grid figure.double-height h2 {
	top: 40%;
}
.grid figure h2 span {
	z-index: 1002;
	font-weight: 800;
}
.grid figure p {
	opacity: 0;
	letter-spacing: 1px;
	font-size: 68.5%;
	text-align: center;
	z-index: 1001;
	position: absolute;
	text-transform: none;
	backface-visibility: hidden;
	transition: opacity 0.35s;
	margin: 5px auto;
	top: 50%;
	float: none;
	width: 100%;
	display: block;
	right: auto;
	left: auto;
	padding-right: 5%;
	padding-left: 5%;
}
.grid figure.double-height p {
	top: 60%;
}
.grid figure:hover p {
	opacity: 1;	
}
.grid figure h2,
.grid figure figcaption > span {
	transition: transform 0.35s;
}
.grid figure:hover h2 {
	transition-delay: 0.15s;
}
.grid figure:hover figcaption > span:nth-child(4) {
	transition-delay: 0.20s;
}
.grid figure:hover figcaption > span:nth-child(3) {
	transition-delay: 0.25s;
}
.grid figure:hover figcaption > span:nth-child(2) {
	transition-delay: 0.30s;
}

/* Individual Colors */

/* BLUE */
.grid figure figcaption.blue {
	background-color: #50758b;
}
.grid figure figcaption.blue p,
.grid figure figcaption.gray p,
.grid figure figcaption.blue h2,
.grid figure figcaption.gray h2 {
	color: #fff;
}
	figure.effect-slideup figcaption.blue::after {
		border-bottom-color: #50758b;
	}
	figure.effect-slidedown figcaption.blue::after {
		border-top-color: #50758b;
	}
	figure.effect-slideleft figcaption.blue::after {
		border-left-color: #50758b;
	}
	figure.effect-slideright figcaption.blue::after {
		border-right-color: #50758b;
	}

/* GRAY */
.grid figure figcaption.gray {
	background-color: #a3aaad;
}
	figure.effect-slideup figcaption.gray::after {
		border-bottom-color: #a3aaad;
	}
	figure.effect-slidedown figcaption.gray::after {
		border-top-color: #a3aaad;
	}
	figure.effect-slideleft figcaption.gray::after {
		border-left-color: #a3aaad;
	}
	figure.effect-slideright figcaption.gray::after {
		border-right-color: #a3aaad;
	}
	
/* GOLD */
.grid figure figcaption.gold {
	background-color: #b6872d;
}


/* Individual effects */

/*------------------*/
/***** Slide Up *****/
/*------------------*/

figure.effect-slideup figcaption {
	top: auto;
	bottom: 0;
	transform: translate3d(0,200%,0);
}
figure.effect-slideup.double-height figcaption {
	height: 50%;
}
figure.effect-slideup figcaption::after {
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #ffffff;
	border-left-color: transparent;
	left: 45%;
	top: -35px;
}
figure.effect-slideup figcaption > span {
	float: right;
}
figure.effect-slideup h2,
figure.effect-slideup figcaption > span {
	transform: translate3d(0,200%,0);
}
figure.effect-slideup:hover figcaption,
figure.effect-slideup:hover h2,
figure.effect-slideup:hover figcaption > span {
	transform: translate3d(0,0,0);
}

/*--------------------*/
/***** Slide Down *****/
/*--------------------*/

figure.effect-slidedown figcaption {
	bottom: auto;
	top: 0;
	transform: translate3d(0,-200%,0);	
}
figure.effect-slidedown.double-height figcaption {
	height: 50%;
}
figure.effect-slidedown figcaption::after {
	border-top-color: #ffffff;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	left: 45%;
	bottom: -35px;
}
figure.effect-slidedown figcaption > span {
	float: right;
}
figure.effect-slidedown h2,
figure.effect-slidedown figcaption > span {
	transform: translate3d(0,-200%,0);
}
figure.effect-slidedown:hover figcaption,
figure.effect-slidedown:hover h2,
figure.effect-slidedown:hover figcaption > span {
	transform: translate3d(0,0,0);
}

/*--------------------*/
/***** Slide Left *****/
/*--------------------*/

figure.effect-slideleft figcaption {
	width: 50%;
	transform: translate3d(-200%,0,0);	
}
figure.effect-slideleft figcaption::after {
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #ffffff;
	right: -35px;
	top: 45%;
}
figure.effect-slideleft figcaption > span {
	float: right;
}
figure.effect-slideleft h2,
figure.effect-slideleft figcaption > span {
	transform: translate3d(-200%,0,0);
}
figure.effect-slideleft:hover figcaption,
figure.effect-slideleft:hover h2,
figure.effect-slideleft:hover figcaption > span {
	transform: translate3d(0,0,0);
}

/*--------------------*/
/***** Slide Right *****/
/*--------------------*/

figure.effect-slideright figcaption {
	width: 50%;
	transform: translate3d(210%,0,0);
}
figure.effect-slideright figcaption::after {
	border-top-color: transparent;
	border-right-color: #ffffff;
	border-bottom-color: transparent;
	border-left-color: transparent;
	left: -35px;
	top: 45%;
}
figure.effect-slideright figcaption > span {
	float: left;
}
figure.effect-slideright h2,
figure.effect-slideright figcaption > span {
	transform: translate3d(200%,0,0);
}
figure.effect-slideright:hover figcaption,
figure.effect-slideright:hover figcaption > span {
	transform: translate3d(100%,0,0);
}
figure.effect-slideright:hover h2 {
	transform: translate3d(0,0,0);
}

/* MEDIA SCREEN SIZES */
@media screen and (max-width: 1200px) {
	.grid figure {
		width: auto;
		float: left;
	}
	.grid figure img {
	}
	.grid figure figcaption {
		font-size: 90%;
	}
}
@media screen and (max-width: 900px) {
	
	.grid figure {
		width: 50%;
	}
	.grid figure img {
		min-width: 100%;
	}
	.grid figure figcaption {
		font-size: 9 0%;
	}
}
@media screen and (max-width: 664px) {
	.grid .one-half {
		width: 100%;
	}
	.grid figure {
		width: 100%;
	}
}

.modal_box_2{
    margin-left:180px;
    height:0px;
    width: 50%;
    
}
.modal_box_3{
    margin-left: 310px;
    height: 0px;
    width: 50%;
}

.modal_box_4{
    margin-left:440px;
    height: 0px;
    width: 50%;
    
}
.modal_box_5{
    margin-left: 570px;
    height: 0px;
    width: 50%;
    
}

.modal_box_6{
    margin-left: 700px;
    height: 0px;
    width: 50%;
    
}

.modal_box_7{
    margin-left: 830px;
    height: 0px;
    width: 50%;
}
    
.modal_box_8{
    margin-left: 960px;
    height: 0px;
    width: 50%;
}
        


.column {
    float: right;
    width: 25%;
    margin-right: 160px;
    background: white;
    margin-top: 70px;
   
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}


.button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 30%;
}

.button:hover {
    background-color: #555;
}

div.background {
  background-image: url(../images/rf.jpg) repeat 0 0;
  border: 2px solid black;
  width: 20%;
  height: 30%;
  margin-top: 200px;
  margin-left: 20px;
}

div.transbox {
  margin: 10px;
    height: 90%;
    width: 90%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
 margin: auto;
  font-weight:normal;
  color: #000000;
}

div.background1 {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
  width: 20%;
    height: 30%;
    margin-top: -248px;
    margin-left: 320px;
}

div.transbox1 {
  margin: 10px;
    height: 90%;
    width: 90%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox1 p {
 margin: auto;
  font-weight:normal;
  color: #000000;
}

div.background2 {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
  width: 20%;
    height: 30%;
    margin-top: -248px;
    margin-left: 620px;
}

div.transbox2 {
  margin: 10px;
    height: 90%;
    width: 90%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox2 p {
 margin: auto;
  font-weight:normal;
  color: #000000;
}

div.background3 {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
  width: 20%;
    height: 30%;
    margin-top: 25px;
    margin-left: 20px;
}

div.transbox3 {
  margin: 10px;
    height: 90%;
    width: 90%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox3 p {
 margin: auto;
  font-weight:normal;
  color: #000000;
}

div.background4 {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
  width: 20%;
    height: 30%;
    margin-top: -247px;
    margin-left: 320px;
}

div.transbox4 {
  margin: 10px;
    height: 90%;
    width: 90%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox4 p {
 margin: auto;
  font-weight:normal;
  color: #000000;
}

div.background5 {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
  width: 20%;
    height: 30%;
    margin-top: -247px;
    margin-left: 620px;
}

div.transbox5 {
  margin: 10px;
    height: 90%;
    width: 90%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox5 p {
 margin: auto;
  font-weight:normal;
  color: #000000;
}

/*new*/
.hovereffect1 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect1 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect1:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect1 img {
  display: block;
  position: relative;
}

.hovereffect1 h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect1:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect1 a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -10px 0 0 0;
  padding: 4px 40px;
    font-size: 0.9em;
}

.hovereffect1:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect1 a.info:hover {
  box-shadow: 0 0 5px #fff;
}